<div class="content-page">
  <div class="container content-form-login-register">
    <div class="form-login-register">
      <span>
        Login
      </span>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div class="login-buttons">
      <div>
        <button mat-raised-button routerLink="/chat">Login</button>
        <button mat-raised-button color="Warm" (click)="navegateTo()">Register</button>
      </div>
      <button mat-raised-button color="Warm">Github Button icon</button>

    </div>

  </div>
</div>
